.flashcards-container {
    display:table;
    flex-wrap: wrap;
    gap: 20px;
}

.flashcard {
    width: 200px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    text-align: center;
}

.question {
    font-weight: bold;
}

.answer {
    margin-top: 10px;
    color: #555;
}