.flashcards-container {
    display:table;
    flex-wrap: wrap;
    gap: 20px;
}

.flashcard {
    width: 200px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    text-align: center;
}

.question {
    font-weight: bold;
}

.answer {
    margin-top: 10px;
    color: #555;
}


/* put the edit and delete flashcard options in a flexbox to put them side by side */
.flashcard-options{
    display:flex;
    align-items: center;
    gap: 10px;
}
/* link for adding flashcard */
.add-flashcard
{
    font-weight: bold;
}
.category-container
{
    display:flex;
    align-items: center;
    gap: 10px;
}
.delete-category
{
    font-weight: bold;
}