<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset ="UTF-8">
    <meta name ="viewport" content="width=device-width,initial-scale = 1.0">
    <title>Flashcards</title>
</head>
<body>
    <h1>Flashcards</h1>
    <a href = "{{url_for('add_flashcard')}}">Add New Flashcard</a>
    <ul>
        {% for flashcard in flashcards%}
        <li>
            <strong>Question</strong>{{flashcard['question']}}<br>
            <strong>Answer</strong>{{flashcard['answer']}}
            <div>
            <a href="{{ url_for('delete_flashcard', card_id=flashcard['id']) }}" onclick="return confirmDelete();">Delete</a> 
            </div>               
        </li>

        {%endfor%}
    </ul>

    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>

</html>